#page{
    font-family: 'Caveat', cursive;
}

#portfolio{
    padding-bottom: 150px;
    background-image: url('../img/paper_1.png');
}

#portfolio .row{
    padding-top: 50px;
}

#portfolio a:hover > img{
    opacity: 0.5;
}

#about{
    background-color: #ededed;
    padding-top: 50px;
    padding-bottom: 300px;
}

#tagcloud{
    margin-top: 100px;
    font-family: sans-serif;
}

#tagcloud a{
    margin: 20px;
    -webkit-box-shadow: 12px 29px 81px 0px white;
    -moz-box-shadow: 12px 29px 81px 0px white;
    box-shadow: 12px 29px 81px 0px white;
}

#contact .row{
    padding-top: 50px;
    padding-bottom: 50px;
}

#footer{
    min-height: 150px;
    padding-top: 70px;
    background-color: white;
}

.navbar-default {
    min-height: 100px;
    padding-top: 25px;
    font-size: xx-large;
   /* background-image: url('../img/retina_wood.png'); */
    -moz-transition: padding-top 1s, min-height 1s;
    -webkit-transition: padding-top 1s, min-height 1s;
    -o-transition: padding-top 1s, min-height 1s;
    transition: padding-top 1s, min-height 1s;
    opacity: 0.85;
}

.nav .langIcon{
    padding: 0px;
    margin-left: 20px;
}

.nav .langIcon:hover{
    opacity: 0.5;
}

header {
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url('../img/5.png');
    background-size: cover;
}

.container-fluid{
    margin-left: 10%;
    margin-right: 10%;
}

.name{
    font-size: 5em;
    color:lightyellow;
}

.name span{
    font-size: 0.5em;
}

.job{
    margin-left: 30px;
    color: lightgray;
}

.skills{
    
    margin: 0 auto;
    margin-top: 150px;
}

blockquote{
    margin-left: 50px;
}

blockquote > p{
    font-size: 2em;
    color: lightyellow;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

blockquote > footer{
    font-size: 1.5em;
    color: lightgray;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

cite{
    font-size: 0.75em;
}

.quotes{
    padding-top: 100px;
}

.quote{
    font-size: 1.5em;
}

.navbar-brand{
    font-size: xx-large;
}

.photo{
    -webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

